<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glorious.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Install Glorious.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA6A55A11BF2C9F800C608B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA6A55B31BF2CB1C00C608B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DADC69821BF79F16002049B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DADC69941BF79FA3002049B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
